<!--Tbody-->
<tr>
    <td>1</td>
    <td>Username</td>
    <td>exmpl@gmail.com</td>
    <td>Male</td>
    <td>active</td>
    <td>
        <a href="/updateuser" class="btn border-shadow update">
           <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span> 
        </a>
        <a href="#" class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-trash-alt"></i></span> 
         </a>
    </td>
</tr>
<!--/Tbody-->
